.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.28);
    animation-name: appear;
    animation-duration: 300ms;

    p {
        color: var(--text-color-1);
        font-size: 14px;
    }

    &[data-login] {
        .modal-dialog {
            width: min(100%, getrem(332px));
        }
    }

    &[data-cookie] {
        background-color: var(--body-bg-color);
        .modal-dialog {
            width: min(100%, getrem(340px));
        }

        .modal-close {
            display: none;
        }

        .modal-header {
            padding: 24px 24px 8px;
        }

        .modal-footer {
            flex-direction: row;
            padding: 8px 24px 24px;
            margin-left: -8px;
            margin-right: -8px;

            & > * {
                margin-left: 8px;
                margin-right: 8px;
                margin-bottom: 0;
            }

            .button {
                min-width: 8ch;
            }
        }

        .modal-content {
            padding: 8px 24px;
        }

        a {
            color: inherit;
            text-decoration: underline;
        }
    }
}

.modal-dialog {
    width: min(100%, getrem(608px));
    position: relative;
    margin: 0 getMinMax(24px, 24px);
    max-height: calc(100vh - 24px);
    display: flex;
    flex-direction: column;
    background: rgba(211, 255, 38, 0.8);
    backdrop-filter: blur(16px);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
    border-radius: getMinMax(20px, 24px);
    overflow: hidden;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: slide-in;
    animation-duration: 0.5s;
}

.modal-header,
.modal-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: getMinMax(32px, 40px);
    padding-right: getMinMax(32px, 40px);
}

.modal-header {
    justify-content: center;
    padding-top: getMinMax(32px, 40px);
    padding-bottom: getMinMax(20px, 20px);
}

.modal-footer {
    justify-content: center;
    padding-top: getMinMax(20px, 20px);
    padding-bottom: getMinMax(32px, 40px);

    .button {
        min-width: 21ch;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.modal-content {
    padding: getMinMax(20px, 20px) getMinMax(32px, 40px);
    overflow: auto;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 20px;
    padding: getMinMax(14px, 14px) getMinMax(24px, 24px);
}

.modal-title {
    font-size: 32px;
    margin-bottom: 0;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        transform: translateY(-150px);
    }
    to {
        transform: translateY(0);
    }
}
